.container-signup {
  height: calc(100vh - 125px) !important;
}
.custom-signup-input {
  display: block;
  width: 100% !important;
}
.custom-signup-input:focus {
  outline: none !important;
  box-shadow: none !important;
  border-color: inherit !important;
}

.custom-signup-position {
  position: absolute !important;
  top: -38px !important;
  right: -8px !important;
  background-color: #ce1e77 !important;
}
